@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica, sans-serif";
}


.window {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  
  /*Background Photo by Ivan Aleksic on Unsplash: https://unsplash.com/photos/PDRFeeDniCk*/
  background: url(./backround.jpg) no-repeat center center/cover;

}


.app-container {
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1001px;
}

.app-border {
/*Photo by engin akyurt on Unsplash*/
background: url(./wood.jpg) no-repeat center center/cover;
position: relative;
z-index: 2;
/*background-color: rgb(36, 65, 62);*/
 padding: 30px 50px;
 border-radius: 24px;
 border-bottom: 10px solid #0000005c;
}

.app-title {
  border-radius: 16px;
  text-align: center;
  margin-bottom: 25px;
  font-family: "Fredericka the Great";
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0px 1px #0000002a; 
  line-height: 80%;
}

.canvas-shadow {
  background-color: #0000003e;
  height: 5px;
  border-radius: 10px 10px 0 0;
}

.canvas-container {
  flex: 1;
  height: 451px;
  background-color: rgb(0, 0, 0);
  display: grid;
  border-bottom: 1px solid #0000003e;
  border-right: 1px solid #0000003e;
}

/* footer styles */
.footer {
  margin-top: 30px;
}

.footer,
.footer a,
.footer hover {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Helvetica';
  font-size: 18px;
  text-decoration: none;
}