@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica, sans-serif";
}


.window {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  background: "./public/img/backround.jpg" no-repeat center center/cover;
}


.app-container {
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1001px;
}

.app-border {
/*Photo by engin akyurt on Unsplash*/
background: "./public/img/wood.jpg" no-repeat center center/cover;
position: relative;
z-index: 2;
/*background-color: rgb(36, 65, 62);*/
 padding: 30px 50px;
 border-radius: 24px;
 border-bottom: 10px solid #0000005c;
}

.app-title {
  border-radius: 16px;
  text-align: center;
  margin-bottom: 25px;
  font-family: "Fredericka the Great";
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0px 1px #0000002a; 
  line-height: 80%;
}

.canvas-shadow {
  background-color: #0000003e;
  height: 5px;
  border-radius: 10px 10px 0 0;
}

.canvas-container {
  flex: 1;
  height: 451px;
  background-color: rgb(0, 0, 0);
  display: grid;
  border-bottom: 1px solid #0000003e;
  border-right: 1px solid #0000003e;
}

.grid-size-label {
  width: 160px;
}

.control {
  background-color:rgb(0,0,0,);
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  text-shadow: none;
  border-bottom: 1px solid #0000002a;
  cursor:pointer;
}

.control-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-family: "Fredericka the Great";
}

.grid-square {
  border-top: 1px solid rgb(255,255,255);
  border-left: 1px solid rgb(255,255,255);
  transition: all 0.2s ease;
}

.grid-square.hover {
  background-color: rgb(189, 189, 189);
}

.grid-square.draw {
  background-color: rgb(255,255,255);
}


.settings-container {
  flex-flow: wrap;
  align-items: center;
  color: rgb(36, 65, 62);
  display: flex;
  font-size: 18px;
  gap: 20px;
  justify-content: space-between;
  padding: 30px 0 0 0;
}

/* Slider styling */
.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 10px;
  border-radius: 5px;  
  background: #ffffff88;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #ffffff;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type="color"] {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  padding: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: 1px solid rgb(212, 212, 212);
  border-radius: 50%;
}

/* footer styles */
.footer {
  margin-top: 30px;
}

.footer,
.footer a,
.footer hover {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Fredericka the Great';
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}